<div class="container">
  <div>app works</div>

  <p>Conditional rendering for styles using ngClass and Angular 9</p>

  <pre>using ngClass='active'</pre>

  <div ngClass="active">directly assigned class using ngClass</div>

  <div class="list">
    <!-- using a boolean value -->
    <div [ngClass]="{ active: styleToggle }" class="element">option one</div>
    <div [ngClass]="{ active: !styleToggle }" class="element">option two</div>
  </div>
</div>

<button (click)="styleToggler()">Toggle styles with boolean</button>

<div class="container">
  <div *ngFor="let person of people">
    <!-- setting class via object names-->
    <div class="{{ person.gender }}">
      <ul>
        <li>{{ person.name }}</li>
        <li>{{ person.location }}</li>
      </ul>
    </div>
  </div>
</div>
