.container {
    width: 25rem;
}

.element {
    background-color: antiquewhite;
    display: inline-block;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active {
    border: 2px solid green;
    display:inline;
    margin:10px;
    padding:10px;
}

.female  {
    margin:0.5rem;
    display: inline-block;
    height: 4rem;   
    width: 10rem;
    border-radius: 3px;
    background-color: #ef7dc4;
}

.male {
    margin:0.5rem;
    display: inline-block;
    height: 4rem;
    width: 10rem;
    border-radius: 3px;
    background-color:skyblue;
}